#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#game-board {
  display: grid;
  grid-template-rows: 180px 180px 180px;
  grid-template-columns: 180px 180px 180px;
}

#game-board:hover {
  cursor: url("../../assets/images/cursor.svg") 20 30, progress;
}

#time-label {
  font-size: 2em;
}

.cell {
  position: relative;
  background-image: url("../../assets/images/bg-board.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #835c32;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  overflow: hidden;
}

.mole {
  position: absolute;
  bottom: 20px;
  width: 160px;
  height: 160px;
  background-image: url("../../assets/images/img-mole.png");
  background-position: 0px 48px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: bottom 1s;
}

.dead {
  width: 160px;
  height: 160px;
  background-image: url("../../assets/images/img-mole-dead.png");
  background-position: 0px 48px;
  background-repeat: no-repeat;
  background-size: contain;

  /* transform: scale(2, 0.5); */
}

.hidden {
  bottom: -160px;
}

#start-button {
  width: 540px;
  height: 64px;
  margin-top: 12px;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
}

#start-button:hover {
  background-color: black;
  color: white;
}
